
// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;

// Font sizes
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$p-size: 14px;

// Font family
$text-font: 'Arial', sans-serif;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;


// Text-colors

$text-orange: #FFA500;
$bg-white: #FFFFFF;
$text-black: #000000;
$bg-hover: #F0F0F0;

